body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.title{
    margin-top: 45px;
    text-align: center;
    color: white;
    font-family: Verdana;
}
.figure{
    width: 260px;
    height: 260px;
    background-color: white;
}